<div class="row">
  <div class="col-6">
    <table class="table table-bordered classifica-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Codice</th>
          <th scope="col">Nome e Cognome</th>
          <th scope="col">Ripetizioni</th>
        </tr>
      </thead>
      <tbody>
        {{#each concorrenti}}
          {{!-- {{#if @index < 10}} --}}
            <tr>
              <th scope="row">{{inc @index}}</th>
              <td>{{this.codice}}</td>
              <td>{{this.nome}}</td>
              <td>{{this.ripetute}}</td>
            </tr>
          {{!-- {{/if}} --}}
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col-6">
    <table class="table table-bordered classifica-table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Codice</th>
          <th scope="col">Nome e Cognome</th>
          <th scope="col">Ripetizioni</th>
        </tr>
      </thead>
      <tbody>
        {{#each concorrenti}}
          {{!-- {{#if @index >= 10}} --}}
            <tr>
              <th scope="row">{{inc @index}}</th>
              <td>{{this.codice}}</td>
              <td>{{this.nome}}</td>
              <td>{{this.ripetute}}</td>
            </tr>
          {{!-- {{/if}} --}}
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
